:root{

    --fontTitulos: 'Fascinate Inline', cursive;
    --fontCuerpo: 'Comfortaa', cursive;
    --colorAzul1: #70B39B;
    --colorAzul2: #D4FFEF;
    --colorRojo1: #B36E5F;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;;
}
body{
    margin: 0px 0px;
    padding: 0px 0px;

}
main{
  background: white;
  padding-bottom: 30px;
}
a,p{
    font-family: var(--fontCuerpo);
}
.carrito_vacio{
  display: block;
  margin: 0 auto;
  width: 50%;
}
.bg-gris{
  width: 100%;
  background-color: #C4C4C4;
}
.bg-w{
  width: 100%;
  background-color: white;
}
.error-pag{
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}
.img_error{
  display: inline-block!important;
  width: 25px;
  padding-right: 10px;
}
.mostrar_error{
  display: block!important;
  position: absolute;
  background-color: tomato;
  right: 10%;
  top: 50%;
  padding: 10px 20px;
  height: 50px;
  border-radius: 20px;
-webkit-transition: all 0.5s ease-in-out;
 -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.btn{
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--colorAzul1);
    padding: 5px;
    text-decoration: none;
    color: black;
    transition: all 0.8s ease-in-out;
}
    .btn:hover{
        background-color: rgb(131, 131, 131);
        border: 1px solid rgb(110, 100, 100);
    }
.titulo{
    color: var(--colorAzul1);
    text-align: center;
    font-size: 3rem;
    font-family: var(--fontCuerpo);
    margin: 0 0 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid var(--colorAzul1);
    box-shadow: 0 2px 4px var(--colorAzul1) ;
}
.hero{
    height: 30vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}
    .hero-img{
      position: absolute;
        width: 100%;
        display: block;
        margin: -55% auto;
        transform:  translate(0, 50%);
        z-index: -1;
    }

.navegacion-principal{
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--colorRojo1);
}
    .navegacion-principal a{
        font-family: var(--fontCuerpo);
        text-decoration: none;
        color: var(--colorAzul2);
        transition: all 0.3s ease-in-out;
    }
        .navegacion-principal a:hover{
            color: var(--colorRojo1);
            background-color: var(--colorAzul2);
            padding: 15px 20px;
        }
    .navegacion-principal .carrito{
        width: 20%;

        display: flex;
        justify-content: end;
        margin-right: 0px;
    }
        .navegacion-principal .carrito a{
            text-decoration: none;
            color: var(--colorAzul2);
            position: relative;
            padding: 15px 15px;
        }
            .navegacion-principal .carrito a:hover{
                color: var(--colorRojo1);
            }
        .navegacion-principal .carrito p{
            color: var(--colorAzul2);
            font-family: var(--fontCuerpo);
        }
        .fa-shopping-cart{
            font-size: 1.6rem;
        }
        .numero_items_carrito{
            background-color: var(--colorAzul1);
            font-family: var(--fontCuerpo);
            color:white;
            font-weight: 700;
            border-radius: 50%;
            padding: 5px 5px;
            position: absolute;
            bottom: 0;
            right: 0;
        }

.main-grid-principal{
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "section1 section1 section1 section1";*/
    max-width: 1300px;
    margin: 0 auto;
}

.aside-principal{
    grid-area: aside1;

}
.section-principal{
    grid-area: section1;
}
.productos{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 300px);
    transition: 0.5s;
}
.producto{
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: rgba(201, 122, 104, 0.452);
}
    .imagen{
        max-width: 100%;
    }
        .imagen img{
            height: 150px;
            border-radius: 10px;
            width: 100%;
        }
    .btn-add{
        display: block;
        width: 100%;
        text-align: center;

    }
.footer-main{
    margin: 0 0 0 0;
    padding: 10px 0;
    text-align: center;
    background-color: #B36E5F;
    color: white;
    font-size: 1.2rem;
    font-family: var(--fontCuerpo);
}


/****************************************
            Comprar.php
****************************************/
.carrito_titulo{
  font-size: 2rem;
}
.btn-acciones{
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;

}
  .btn-acciones button{
    border-radius: 20px;
    width: 70px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s ease-in-out;
  }
#vaciar{
  background-color: #AF1D09;
}
  #vaciar:hover{
    background-color: #893220 ;
    border: 1px solid #FF7D4E;
  }
.cuerpo_carrito{
  margin:  0 auto;
  margin-top: 20px;
  width: 800px;
}
.form_carrito{
  width: 60%;
  display: block;
  margin: 10px auto;

}
.campo{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 10px 0;
}

.btn-borrar{
  height: 30px;
  width: 30px;
  cursor:  pointer;
}

#pedir{
  color: black;
  background-color:  #3fed23 ;
}
  #pedir:hover{
    background-color:  #52b343  ;
    border: 1px solid  #367c2b ;
  }


/********************************************
            comfirmacion de pago
*********************************************/
.pago_confirmado{
  display: block!important;
  top: 0;
  left: 0;
  background-color: white;
  position: absolute;
  height: 100vh;
  width: 100%;
}
.conf_lista_inm{
  margin: 0 auto;
  width: 40%;
}
.campo_lista_inm{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  border-bottom: 2px solid #e1e1e1;
}
  .campo_lista_inm > p{
    text-align: center;
    padding: 10px 10px;
    border-right:  2px solid #e1e1e1;
  }
  .campo_lista_inm > p:last-child{
    border-right: none;
  }
.total_lista_inm{
  margin-top: 20px;
  color: tomato;
  weight: 700;
  text-align: right;
}

.btn-lista-inm{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
  .btn-lista-inm > button{
    width: 40%;
    height: 50px;
  }

  .btn-lista-inm .cancelar_compra{
    background-color: tomato;
  }
  .btn-lista-inm .confirmar_pago{
    background-color:  #39af2b ;
  }
